	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Profile</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div th:include="fragments :: navbar"></div>

	<div class="container">
		<div class="row">

			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Panel użytkownika</h3>
					</div>
					<a href="#" th:href="@{/profile}" class="list-group-item active">Moj Profil</a> 
					<a href="#" class="list-group-item">Kupione przedmioty</a>
					<a href="#" class="list-group-item">Sprzedane przedmioty</a>
					<a href="#" th:href="@{/myitems}" class="list-group-item">Wystawione przedmioty</a>
					<a href="#" th:href="@{/additem}" class="list-group-item">Wystaw nowy przedmiot</a>
				</div>
			</div>
			<div class="col-md-8">

				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Profil użytkownika</h4>
					</div>
					<div class="panel-body">

						<div class="box box-info">

							<div class="box-body">

								<div class="col-sm-6">
									<h4 style="color: #00b1b1;"
										th:text="|${session.user.firstName} ${session.user.lastName}|">Imie
										Nazwisko</h4>
									<span th:text="${session.user.username}">login</span>
								</div>
								<div class="clearfix"></div>
								<hr style="margin: 5px 0 5px 0;" />


								<div>
									<h4 style="color: #00b1b1;">Dane osobowe:</h4>
								</div>
								<div class="col-sm-5 col-xs-6 tital">Imie:</div>
								<div class="col-sm-7 col-xs-6" th:text="${session.user.firstName}"></div>
								<div class="clearfix"></div>
								<div class="bot-border"></div>

								<div class="col-sm-5 col-xs-6 tital">Nazwisko:</div>
								<div class="col-sm-7" th:text="${session.user.lastName}"></div>
								<div class="clearfix"></div>
								<div class="bot-border"></div>

								<div class="col-sm-5 col-xs-6 tital">Adres email:</div>
								<div class="col-sm-7" th:text="${session.user.email}"></div>
								<div class="clearfix"></div>
								<div class="bot-border"></div>

								<div>
									<h4 style="color: #00b1b1;">Adres:</h4>
								</div>
								<div class="col-sm-5 col-xs-6 tital">Miasto:</div>
								<div class="col-sm-7" th:if="${session.address} != null"
									th:text="${session.address.city}">nie podano</div>
								<div class="clearfix"></div>
								<div class="bot-border"></div>

								<div class="col-sm-5 col-xs-6 tital">Ulica:</div>
								<div class="col-sm-7" th:if="${session.address} != null"
									th:text="${session.address.street}">nie podano</div>
								<div class="clearfix"></div>
								<div class="bot-border"></div>

								<div class="col-sm-5 col-xs-6 tital">Kod pocztowy:</div>
								<div class="col-sm-7" th:if="${session.address} != null"
									th:text="${session.address.zipCode}">nie podano</div>
								<div class="clearfix"></div>
								<div class="bot-border"></div>
								<!-- /.box-body -->
							</div>
							<!-- /.box -->

						</div>

					</div>
				</div>
				<a href="#" th:href="@{/profile/update_address}" class="btn btn-sm btn-info">Zmień adres <span class="glyphicon glyphicon-wrench"></span></a>
			</div>
			
		</div>
	</div>




</body>
</html>