<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Reminder Password</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div th:include = "fragments :: navbar"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<form th:action="@{/password/remind}" method="post">
					<fieldset>
						<legend class="text-center">
							Przypomnij hasło <span class="req"></span>
						</legend>

						<div class="form-group">
							<label for="username"> Podaj nazwe użytkownika
							</label> <input class="form-control" type="text" name="username"/>
						</div>

						<div class="form-group">
							<input class="btn btn-success" type="submit" name="register"
								value="Przypomnij"/>
						</div>
					</fieldset>
				</form>
				<!-- ends register form -->
			</div>
		</div>
	</div>

</body>
</html>