<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:include="fragments :: navbar"></div>
      
<div class="container">
	<div class="row">
		<div class="col-md-10">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-xs-6">
								<h5><span class="glyphicon glyphicon-shopping-cart"></span> Podsumowanie zakupów</h5>
							</div>
							<div class="col-xs-6">
								<a href="#"><button type="button" class="btn btn-primary btn-sm btn-block">
									<span class="glyphicon glyphicon-share-alt"></span> Kontynuuj zakupy
								</button></a>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="row" th:each="item : ${session.cart.itemsInCart}">
						<div class="col-xs-2"><img class="img-responsive" src="http://placehold.it/100x70"/>
						</div>
						<div class="col-xs-4">
							<h4 class="product-name"><strong th:text="${item.itemName}">Product name</strong></h4><h4><small th:text="${item.description}">Product description</small></h4>
						</div>
						<div class="col-xs-6">
							<div class="col-xs-6 text-right">
								<h6><strong th:text="${item.price}">$10<span class="text-muted">x</span></strong></h6>
							</div>
							<div class="col-xs-4">
							</div>
							<div class="col-xs-2">
							<form th:action="@{/cart/delete}" method="get">
								<input type="hidden" name="id" th:value="${item.id}"/>
								<p><input type="submit" class="btn btn-xs btn-danger pull-right" value="Usuń"/></p>
							</form>
							
							</div>
						</div>
					</div>
					<hr></hr>
					<div class="row">
						<div class="text-center">
							<div class="col-xs-9">
								<h6 class="text-right">Dodałeś przedmiot?</h6>
							</div>
							<div class="col-xs-3">
								<a href="#"><button type="button" class="btn btn-default btn-sm btn-block">
									Aktualizuj
								</button></a>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<form th:action="@{/summary}" method="post" th:object="${order}">
						<div class="row text-center">
							<div class="col-xs-6">
								<div class="form-group">
									<select name="payment" class="form-control" th:field="*{payment}">
										<option th:each="payment : ${payments}"
												th:value="${payment.id}"
												th:text="${payment.paymentMethod}">
										</option>
									</select>
								</div>
								<div class="form-group">
									<label class="control-label" for="textarea">Szczegóły zamówienia</label>
			                        <div class="col-md-12">                     
			                            <textarea class="form-control" id="textarea" name="orderDetails" th:field="*{orderDetails}"></textarea>
			                        </div>
		                        </div>
							</div>
							<div class="col-xs-3">
								<h4 class="text-right">Suma zakupów <strong th:text="${session.cart.amount}">$10</strong></h4>
							</div>
							<div class="col-xs-3">
								<div class="form-group">
									<button type="submit" class="btn btn-success btn-block">
									Przejdz do podsumowania							
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<h4 th:text="${message}"></h4>
</div>
    
</body>
</html>